<p style="color: green"><%= notice %></p>

<% content_for :title, "Home" %>

<h1>GLASS BLOG</h1>

<div id="posts">
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div>
        <h2><%= link_to post.title, post %></h2>
        <p>By <%= post.user.email %></p>
      </div>
    <% end %>
  <% else %>
    <p>No published posts yet.</p>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to "New Post", new_post_path %>
<% end %>
