<% content_for :title, "About" %>

<h1>About Glass Blog</h1>

<p>Welcome to Glass, a blog about [your topics here].</p>

<h2>About the Author</h2>
<p>Hi, I'm [your name]. [A little about yourself].</p>

<h2>What you'll find here</h2>
<p>[What kind of posts you'll write].</p>

<h2>Get in touch</h2>
<p>Have a question or just want to say hi? <%= link_to "Contact me", contact_path %>!</p>