/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
nav {
  background-color: #1879da;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  color: #0975e1;
  text-align: center;
  margin-top: 30px;
}

p {
  color: #0975e1;
  text-align: center;
  font-size: 25px;
}

hr {
  margin: 10px 0;
  border: 0;
  height: 1px;
  background: #c39c9c;
}

.post {
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
}